<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="term">Course Term</label>
          <input
            type="text"
            id="term"
            class="form-control"
            name="term"
            ngModel
            required
          >
          <div class="help-block">Format: Semester 1 2018</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onChangeStatus()"
            *ngIf="editMode"
          >{{ isActive ? 'Disable' : 'Enable'}}</button>
          <button class="btn btn-info" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
