<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!studentForm.valid"
        >Save
        </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        <hr>
      </div>
      <div class="form-group">
        <label for="studentId">Student Id</label>
        <input
          type="text"
          id="studentId"
          name="studentId"
          formControlName="studentId"
          class="form-control">
        <span
          *ngIf="!studentForm.get('studentId').valid && studentForm.get('studentId').touched"
          class="help-block">Student ID can not be empty!</span>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          formControlName="firstName"
          class="form-control">
        <span
          *ngIf="!studentForm.get('firstName').valid && studentForm.get('firstName').touched"
          class="help-block">First name can not be empty!</span>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          formControlName="lastName"
          class="form-control">
        <span
          *ngIf="!studentForm.get('lastName').valid && studentForm.get('lastName').touched"
          class="help-block">Last name can not be empty!</span>
      </div>
      <div class="form-group">
        <label for="email">Mail</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="form-control">
        <span
          *ngIf="!studentForm.get('email').valid && studentForm.get('email').touched"
          class="help-block">Please enter a valid email!</span>
      </div>
      <hr>
    </form>
  </div>
</div>
