<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="tutorForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!tutorForm.valid"
        >{{ editMode ? 'Update' : 'Sign up' }}
        </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        <button class="btn btn-info" *ngIf="editMode==false" type="button" (click)="onClear()">Clear</button>
        <hr>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          formControlName="firstName"
          class="form-control">
        <span
          *ngIf="!tutorForm.get('firstName').valid && tutorForm.get('firstName').touched"
          class="help-block">First name can not be empty!</span>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          formControlName="lastName"
          class="form-control">
        <span
          *ngIf="!tutorForm.get('lastName').valid && tutorForm.get('lastName').touched"
          class="help-block">Last name can not be empty!</span>
      </div>
      <div class="form-group">
        <label for="email">Mail</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="form-control">
        <span
          *ngIf="!tutorForm.get('email').valid && tutorForm.get('email').touched"
          class="help-block">Please enter a valid email!</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          class="form-control">
        <span
          *ngIf="!tutorForm.get('password').valid && tutorForm.get('password').touched"
          class="help-block">Password must be at least 6 characters!</span>
      </div>

      <ng-template [ngIf]="!editMode">
        <label for="role">Role</label>
        <div class="form-group form-control">
          <input type="radio"
                 id="role"
                 formControlName="role"
                 *ngIf="!editMode"
                 value="tutor"> Tutor
          <span
            *ngIf="!tutorForm.get('role').valid && tutorForm.get('role').touched"
            class="help-block">Role cannot be empty! </span>
        </div>
      </ng-template>


      <hr>
    </form>
  </div>
</div>
