<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="requirement">Requirement</label>
          <textarea
            type="text"
            id="requirement"
            class="form-control"
            name="requirement"
            ngModel
            required
          ></textarea>
        </div>
        <div class="col-xs-5 form-group">
          <label for="description">Description</label>
          <textarea
            type="text"
            id="description"
            class="form-control"
            name="description"
            ngModel
            required
          ></textarea>
        </div>
        <div class="col-xs-2 form-group">
          <label for="marks">Marks</label>
          <input
            type="number"
            id="marks"
            class="form-control"
            name="marks"
            ngModel
            required
            style="height:55px"
            min="0"
            pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <span
        *ngIf="!f.valid && f.touched"
        class="help-block">Please enter a valid data!</span>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid"
          >{{ editMode ? 'Update' : 'Add' }}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >Delete
          </button>
          <button class="btn btn-info" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
